/* здесь используйте глобальные переменные */
$primary-font: "Lato-Regular", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// background
$background-color-primary: #ffffff;
$background-color-secondary: #eaeaea;
$background-color-tertiary: #68B738;

// font weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// text color
$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-tertiary: #444444;

// media width
$tablet-width: 768px;
$desktop-width: 1440px;
