/* здесь используйте глобальные переменные */
$primary-font: "Lato-Regular", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$background-color-primary: #FFF;
$background-color-secondary: #EAEAEA;
$background-color-tertiary: #68B738D9;


