/* здесь используйте глобальные переменные */
$primary-font: "Lato-Regular", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// background
$background-color-primary: #FFF;
$background-color-secondary: #EAEAEA;
$background-color-tertiary: #68B738D9;

/* font */
// font weight
$font-weight-normal: 400;
$font-weight-bold: 700;

/* text */
// text color
$text-color-primary: #000;
$text-color-secondary: #fff;
$text-color-tertiary: #444;
