.main-container {
  display: flex;
  flex-direction: column;
}

.main-container * {
  margin: 0 auto;
  max-width: 320px;
  
  @media (min-width: $tablet-width) {
    max-width: 768px;
  }
  
  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}