.main-nav {
  display: flex;
  
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__toggle {
  background-image: url("../../icons/stack.svg#menu-open");
  border: none;
  background-color: unset;
  height: 24px;
  width: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
