.products {
  color: $text-color-primary;
  font-family: $secondary-font;
}

.products__item {
  background-color: $background-color-secondary;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.products__icon {
  border-radius: 50%;
  background-color: $background-color-tertiary;
  position: relative;
  width: 50px;
  height: 50px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.products__subtitle {
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.products__description {
  color: $text-color-tertiary;
  font-family: $primary-font;
  line-height: 18px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.products__link {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 16px;

  &:active {
    color: rgba($text-color-primary, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.products__item--slim .products__icon {
  &::before {
    background-image: url("../../icons/stack.svg#cat-slim");
    height: 36px;
    width: 50px;

    @media (min-width: $tablet-width) {
      height: 194px;
      width: 144px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
    }
  }
}

.products__item--pro .products__icon {
  &::before {
    background-image: url("../../icons/stack.svg#cat-pro");
    height: 28px;
    width: 67px;

    @media (min-width: $tablet-width) {
      height: 112px;
      width: 268px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
    }
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    gap: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    flex-direction: row;
    row-gap: 80px;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 82px 0 0 0;
    width: 1220px;
  }
}