.products {
    color: $text-color-primary;
    font-weight: $secondary-font;
}

.products__item {
    background-color: $background-color-secondary;
}

.products__subtitle {
    font-size: 24px;
    line-height: 37px;
}

.products__description {
    color: $text-color-tertiary;
    font-family: $primary-font;
    line-height: 18px;
    font-size: 14px;
}

.products__link {
    line-height: 16px;
    font-size: 16px;
}